[submodule "themes/bulma-base"]
	path = themes/bulma-base
	url = https://github.com/el-uhu/bulma-base.git
	branch = kulturhof
[submodule "kulturhof-villach.github.io"]
	path = kulturhof-villach.github.io
	url = https://github.com/kulturhof-villach/kulturhof-villach.github.io
