{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-default-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "header" }}
  {{ partial "header.html" . }}
{{ end }}

{{ define "non-section-main" }}
<div class="column has-navbar-fixed-top has-no-padding">
    <section class="hero is-small is-info">
      <div class="hero-body hero-container">
        <div class="container">
          <h1 class="hero-quote is-3 title has-little-margin">{{ i18n .Title }} </h1>
          <h2 class="hero-quote has-text-grey is-5 subtitle">{{ .Params.description }} </h2>
        </div>
      </div>
    </section>
    {{ $futureevents := where .Pages.Reverse ".Date" "ge" (now.AddDate 0 0 -1) }}
    {{ $pastevents := where .Pages ".Date" "lt" (now.AddDate 0 0 -1) }}
    <section class="hero is-medium is-info">
      {{ range $futureevents }}
        {{ $p := (dict "title" .Title "text" .Params.description "link" .Permalink "image" .Params.featured "imgclass" "is-square is-128x128 ov-img" "date" .Params.date "time" .Params.time "tags" .Params.tags "authors" .Params.authors )}}
        {{ partial "content-ov.html" $p }}
      {{ end }}
    </section>
    <section class="hero is-small is-info">
      <div class="container hero-body has-text-centered center">
        <h1 class="title"> Past events </h1>
      </div>
    </section>

    {{ if eq .Section "events" }}
      <section class="hero">
        {{ range $pastevents }}
          {{ $p := (dict "title" .Title "text" .Params.description "link" .Permalink "image" .Params.featured "imgclass" "is-square is-128x128 ov-img" "date" .Params.date "time" .Params.time "tags" .Params.tags "authors" .Params.authors )}}
          {{ partial "content-ov.html" $p }}
        {{ end }}
      </section>
    {{ end }}

</div>
{{ end }}

{{ define "custom-js"}}
{{ end }}
