{{ define "header-title" }}
<h1>{{ .Name }}</h1>
{{ end }}

{{ define "header" }}
  {{ partial "header.html" . }}
  {{ partial "featured-hero.html" . }}
{{ end }}

{{ define "aside" }}
{{ end }}

{{ define "main" }}
<div class="column is-half has-navbar-fixed-top">
  <div class="content">

    <div id="contents">
      <p>{{ .Content }}</p>
    </div>
  </div>
</div>
<div class="">
    {{ partial "references.html" .}}
</div>
{{ end }}

{{ define "custom-js" }}
<script>
  mermaid.initialize({
    startOnLoad:true,
    theme:'neutral',
    fontFamily: 'Source Code Pro'
  });
</script>
{{ end }}
