{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-default-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "header" }}
  {{ partial "header.html" . }}
{{ end }}

{{ define "non-section-main" }}
<div class="column has-navbar-fixed-top has-no-padding">
    <section class="hero is-small is-info">
      <div class="hero-body hero-container">
        <div class="container">
          <h1 class="hero-quote is-3 title has-little-margin">{{ i18n .Title }} </h1>
          <h2 class="hero-quote has-text-grey is-5 subtitle">{{ .Params.description }} </h2>
        </div>
      </div>
    </section>

    <section class="hero is-medium is-info">
      {{ range .Pages }}
        {{ $p := (dict "title" .Title "text" .Params.description "link" .Permalink "image" .Params.featured "imgclass" "is-square is-128x128 ov-img" "date" .Params.date "time" .Params.time "tags" .Params.tags "authors" .Params.authors )}}
        {{ partial "content-ov.html" $p }}
      {{ end }}
    </section>
</div>
{{ end }}

{{ define "custom-js"}}
{{ end }}
