{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-default-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "header" }}
  {{ partial "header.html" . }}
{{ end }}

{{ define "non-section-main" }}
<div class="column has-navbar-fixed-top has-no-padding top-hero">
  <!-- Tags Block -->
  {{ $p := (dict "context" . "pages" .Pages "url" $.Site.BaseURL "lang" $.Site.LanguagePrefix )}}
  {{ partial "tags-block.html" $p }}
</div>
{{ end }}

{{ define "custom-js"}}
{{ end }}
