{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-default-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "header" }}
  {{ partial "header.html" . }}
{{ end }}

{{ define "non-section-main" }}
<div class="column has-navbar-fixed-top has-no-padding">
    <section class="hero is-small is-info">
      <div class="hero-body hero-container">
        <div class="container">
          <h1 class="hero-quote is-3 title has-little-margin">{{ i18n .Title }} </h1>
          <h2 class="hero-quote has-text-grey is-5 subtitle">{{ .Params.description }} </h2>
        </div>
      </div>
    </section>

    <section class="hero is-medium is-info">
      {{ range .Pages }} 
      {{ $link := .Permalink }}
      {{ with .Params.id }}

        {{ $persondata := (index $.Site.Data.authors .)}}           
        {{/*  {{ $p := (dict "data" $persondata "picsize" "is-128x128" "imgclass" "is-rounded" "link" $link "content" "false" "namesize" "is-size-5" "subsize" "is-size-6")}}  */}}
        {{ $p := (dict "title" $persondata.name "text" "" "link" $link "image" $persondata.featured "imgclass" "is-square is-128x128 ov-img" "date" "" "time" "" "tags" "" "authors" "" )}}
        {{ partial "content-ov.html" $p }}
        {{ end }}
      {{ end }}
    </section>
</div>
{{ end }}

{{ define "custom-js"}}
{{ end }}
