<div class="columns is-centered is-multiline">
  <div class="column is-4">
    <input id="calendar" type="date" data-display-mode="inline" data-show-clear-button="false">
  </div>
  <div class="column is-8">
    <div class="columns is-multiline">
      <div class="calendar-search-results column is-full">
        {{ $calendarentries := where .Site.RegularPages "Type" "in" (slice "blog" "event")}}
        {{ $futureevents := where $calendarentries ".Date" "ge" (now.AddDate 0 0 0) }}
        {{ $pastevents := where $calendarentries ".Date" "lt" (now.AddDate 0 0 0) }}
        {{ range $futureevents.Reverse }}
        <div class="search-res future-event column is-full cls-{{ dateFormat "2006-01-02" .Date  }}">
          {{ $p := (dict "title" .Title "text" .Params.description "link" .Permalink "image" .Params.featured "imgclass" "is-square is-128x128 ov-img" "date" .Params.date "time" .Params.time "tags" .Params.tags "authors" .Params.authors )}}
          {{ partial "content-ov.html" $p }}
        </div>
        {{ end }}
        {{ range $pastevents.Reverse }}
        <div class="search-item past-event column is-full cls-{{ dateFormat "2006-01-02" .Date  }}">
          {{ $p := (dict "title" .Title "text" .Params.description "link" .Permalink "image" .Params.featured "imgclass" "is-square is-128x128 ov-img" "date" .Params.date "time" .Params.time "tags" .Params.tags "authors" .Params.authors )}}

          {{ partial "content-ov.html" $p }}
        </div>
        {{ end }}

        <div class="column is-full" >
          <a class="button is-small is-fullwidth is-info" id="clear">Clear</a>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- save event data  in as javascript object -->
<script type="text/javascript">
  // requires id of objects to hav class cls-YYYY-MM-DD
  var eventDates = [ {{ range $calendarentries }} { title: {{ .Title }}, description: {{ .Params.description }}, date : {{ dateFormat "2006-01-02" .Date  }}, type : {{ .Params.type }}, link : {{ .Permalink }} },{{ end }}];

  // Calendar
  var colormap = {"event" : "has-background-warning", "blog" : "has-background-warning"}

  function normaliseDatestring(datestring) {
    var d = new Date(datestring).setHours(0,0,0,0)
    return d
  }

  function findLink(datestring, eventDates) {
    return eventDates.find(x => normaliseDatestring(x.date) === normaliseDatestring(datestring)).link
  };

  function findID(datestring, eventDates) {
    return eventDates.find(x => normaliseDatestring(x.date) === normaliseDatestring(datestring)).date
  };

  // Initialize all input of type date
  var calendars = bulmaCalendar.attach('[type="date"]');

  // Loop on each calendar initialized
  for(var i = 0; i < calendars.length; i++) {
    // Add listener to date:selected event
    calendars[i].on('select', date => {
      $(".calendar-search-results > .search-res").removeClass("search-res").addClass("search-item")
      var id = findID(date.data.value(), eventDates);
      var el = $(".cls-"+id)
      $(el).removeClass("search-item").addClass("search-res")
      console.log(el);

    });
  }

  // Clear button
  $("#clear").on('click', function(){
    $(".search-item.future-event").addClass("search-res").removeClass("search-item")
    $(".search-res.past-event").addClass("search-item").removeClass("search-res")
  })

  // Compare eventDates with calendar elements and color elements if the correspond to an event
  function colorDates(eventDates, colormap) {
    var days = $("div.datepicker-days > div.datepicker-date")

    for ( var i = 0; i < days.length; i++ ){
      for (var j = 0; j < eventDates.length; j++) {
        var eventdate = new Date(eventDates[j].date).setHours(0,0,0,0);
        var datestring = $(days[i]).data("date")
        var datepickerdate = new Date(datestring).setHours(0,0,0,0)
        // console.log(datepickerdate)
        if ( eventdate == datepickerdate ){
          $(days[i]).children("button").addClass(colormap[eventDates[j].type])
        }
      }
    }
  }

  colorDates(eventDates, colormap);
  // check for DOM changes
  MutationObserver = window.MutationObserver || window.WebKitMutationObserver;
  var observer = new MutationObserver(function(mutations, observer) {colorDates(eventDates, colormap)});
  observer.observe(document, {
    subtree: true,
    attributes: true
    //...
  });

</script>
