<section class="section has-no-padding">

  <footer class="footer has-background-bc has-text-centered footer-tags">
    {{partial "tags.html" .}}
  </footer>

  <section id="newsletter" class="hero has-background-bcalt">
  <div class="hero-body">
    <div class="container">

      
      <!-- Begin MailChimp Signup Form -->
      <div class="columns">
        <div class="column is-full">
          <p class="has-text-centered">
            <a class="subtitle has-text-primary" href="http://eepurl.com/tPX6L"><i class="fas fa-paper-plane mail"> </i> Den Kulturhof:Newsletter abonnieren...</a>

          </p>
        </div>
      </div>

      </div>
  </div>
  </section>
  <section class="section has-background-info">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-full">
            <p class="subtitle has-text-centered">Unterstützt von</p>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <figure class="image">
              <img src="{{ .Site.Params.logo.stadt | relURL  }}" width="300px">
            </figure>
          </div>
          <div class="column">
            <figure class="image">
              <img src="{{ .Site.Params.logo.land | relURL  }}" width="300px">
            </figure>
          </div>
          <div class="column" class="">
            <figure class="image">
              <img src="{{ .Site.Params.logo.bund | relURL }}" width="300px">
            </figure>
          </div>
        </div>

      </div>
    </div>
  </section>

  <footer class="footer has-background-bc">
    <div class="container">
    <div class="content">
      <div class="columns is-multiline">

        <div class="column is-full center">
            <p class="has-text-centered">
              <b>
                {{ .Site.Params.name }}
              </b>
              <br>
              {{ .Site.Params.address }}
              <br>
              <a href="mailto:{{ .Site.Params.email}}" class="has-text-link">
                {{ .Site.Params.email }}
              </a>
              <br>
              <a href="tel:{{ .Site.Params.phone }}" class="has-text-link">
                {{ .Site.Params.phone }}
              </a>
            </p>
        </div>
        <div class=" column is-full center">
          {{ range .Site.Params.social }}
          <div class="has-padding-1em">
            <a href="{{ .link }}"><i class="{{ .icon }} fa-2x"></i></a>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
    </div>
  </footer>
</section>
