<div id="hero">
<section class="hero is-medium has-background">
  <img class="hero-background is-transparent" src="{{ .Site.Params.logo.heroImg | relURL }}" alt="">
  <div class="hero-body">
    <div class="container hero-container">
      <!-- <figure class="image">
        <img class="center" src="{{ .Site.Params.logo.notext | relURL }}">
      </figure> -->
      <h1 class="title has-no-margin">{{ .Site.Title | markdownify}}</h1>
      <h2 class="subtitle">{{ .Site.Params.description | markdownify }}</h2>
      <h3 class="subtitle has-text-warning meta">{{ .Page.Params.description | markdownify }}</h3>
    </div>
  </div>
  <!-- Hero footer: will stick at the bottom -->
</section>
</div>

<section class="hero is-small is-link">
  <div class="hero-body has-text-centered center">
    {{ range $key, $taxonomy := .Site.Taxonomies.tags }}
      <div class="">
        <a href="{{ $.Site.BaseURL }}/{{ $.Site.LanguagePrefix }}/tags/{{ $key}}/">
          <span class="hero-quote has-text-info">#{{ $key }} </span><p> </p>
        </a>
      </div>
    {{ end }}
  </div>
</section>

<section class="hero">
  <div class="hero-body">
    <div class="container">
      {{ partial "calendar-block.html" . }}
    </div>
  </div>
</section>
