<ul id="sb-menu" class="menu-list">
  {{ range .Site.Sections }}
  <li>
    <a href="{{ .Permalink }}">
      {{ with .Params.headericon }}
      <i class="{{ . }}"></i>
      {{ end }}
      {{ i18n .Title }}
    </a>
  </li>
  {{ end }}
  
  {{ range .Site.Pages }}
  {{ if eq .Params.type "info" }}
  <li>
    <a href="{{ .Permalink }}">
      {{ with .Params.headericon }}
      <i class="{{ . }}"></i>
      {{ end }}
      {{ .Title }}
    </a>
  </li>
  {{ end }}
  {{ end }}


  <hr>

  {{ if .IsTranslated }}
  <p class="menu-label"> {{ i18n "translations" }}</p>
  <ul class="menu-list">
    {{ range .Translations }}
    <li>
      <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
    </li>
    {{ end}}
  </ul>
  {{ end }}

</ul>
<hr>
{{ partial "tags.html" .}}
