{{ $lang := (i18n "lang")}}
{{ $site := .Site }}


<div class="is-flex" style="justify-content:center;flex-direction:column">
    <div class="is-flex" style="justify-content:center">
      <a href="{{ .link }}">
        <figure class="image {{ .picsize }} has-margin-bottom">
          <img class="{{ .imgclass }}" src="{{ .data.featured | relURL }}">
        </figure>
      </a>
    </div>
    <div class="">
      <a href="{{ .link }}">
        <h1 class="has-text-centered title"> {{ .data.name }}</h1>
      </a>
      {{ if eq .content "true" }}
      <div class="content">
        <p>{{ (index .data.bio $lang) | markdownify }}</p>
      </div>
      {{ end }}
    </div>
</div>
